Options -Indexes
#restringir la navegacion de las carpetas


RewriteEngine On 
RewriteRule ^([a-zA-Z]+)$ index.php?controller=$1
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ index.php?controller=$1&action=$2
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)$ index.php?controller=$1&action=$2&id=$3;