<!DOCTYPE html>
<html lang="es">
<head>
    <base href="http://localhost/lab_prog_2025_titos_alan/app/resources/views/">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Página de login">

    <title>BajoCeroWear | Iniciar sesión</title>
    <link rel="icon" type="image/x-icon" href="/lab_prog_2025_titos_alan/public/app/assets/images/main_logo.webp">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

   
    <!--  CSS y JS -->
    <link rel="stylesheet" href="/lab_prog_2025_titos_alan/public/app/css/main.css">
    <script defer type="text/javascript" src="/lab_prog_2025_titos_alan/public/app/js/main.js"></script>

</head>
<body id="login" class="d-flex justify-content-center align-items-center min-vh-100">

    <main class="login-container p-4 rounded bg-white shadow-sm">
        <div class="text-center login-logo mb-4">
            <img class="border rounded-circle" src="/lab_prog_2025_titos_alan/public/app/asseets/images/main_logo.webp" alt="Logo BajoCeroWear">
        </div>
        <h2 class="text-center mb-4">Iniciar Sesión</h2>

        <!-- Formulario de autenticación -->
        <form action="./home/" method="POST">
            <!-- Campo Usuario -->
            <div class="mb-3">
                <label for="loginUsuario" class="form-label">Usuario</label>
                <input type="text" id="loginUsuario" name="usuario" class="form-control" placeholder="Ingrese el nombre de usuario" required>
            </div>

            <!-- Campo Contraseña -->
            <div class="mb-3">
                <label for="loginContrasenha" class="form-label">Contraseña</label>
                <input type="password" id="loginContrasenha" name="contrasena" class="form-control" placeholder="Ingrese la contraseña" required>
            </div>

            <!-- Botón Ingresar -->
            <div class="d-grid">
                <button type="submit" class="btn btn-main">Ingresar</button>
            </div>

            <!-- Enlace para recuperar contraseña -->
            <div class="text-center mt-3">
                <p class="mb-0">¿Olvidaste tu contraseña? <a href="#">Recuperar contraseña</a></p>
            </div>
        </form>
    </main>

</body>
</html>
